# Ignorar pastas do Visual Studio
.vs/
.vscode/

# Ignorar pastas de build
bin/
obj/

# Ignorar arquivos temporários
*.user
*.suo
*.log
*.pdb
*.db
*.bak
*.cache

# Ignorar arquivos específicos de nuget
project.assets.json
project.nuget.cache
